.auctionBannerWrapper{
.container{
    .bannerInner{
        .nftDiv{
            img {

            }
        }
    }
}
}
@media screen and (max-width:1320px) {
    .auctionBannerWrapper{
        height: auto;
   
       
        .container{
            .bannerInner{
                margin-top: 20px;
                height: auto;
                h1{
                 font-size: 100px;
                }
                .nftDiv{
                    flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                    img {
        
                    }
                }
            }
        }
        }
    
}

@media screen and (max-width:800px) {
    .auctionBannerWrapper{
  height: auto !important;
   
    

        .bannergrid{
            display: none;
        }
        .container{
            .bannerInner{
                height: auto;
                margin-top: 20px;
                h1{
                 font-size: 60px;
                }
                .nftDiv{
               height: auto;
                    img {
        
                    }
                }
            }
        }
        }
    
}