.input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 17px;
    font-weight: 500;
  }

  .input-wrapper {
    border-radius: 14px;
    background: var(--bg-surface);
   // overflow: hidden;
    position: relative;
    box-shadow: var(--card-shadow);


    input {
      position: relative;
      padding: 19px 30px;
      color: var(--text-primary);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-right: 25px;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 14px;
      outline: none;

      &::placeholder {
        color: var(--text-muted);
      }

      button {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10.756px;
        background: #FE0101;
        border: 1px solid red;

      }
    }

    img {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      height: 20px;
      cursor: pointer;
    }

    // &::after{
    //   content: "";
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   bottom: 0;
    //   width: 30px;
    // }
  }

  .text-xs {
    font-size: 12px;
    color: #dc2626;
    font-weight: 500;
  }
}

input::-webkit-autofill {
  background-color: transparent !important;
  background: transparent !important;
}


