.exploreCard {
  .inner {
    .bodyArea {
      .exploreBodyImg {
      }
    }
  }
}
@media screen and (max-width: 1320px) {
  .exploreCard{
    width: 370px !important;
   height: auto !important;
    .inner{
      .headerArea{

      }
      .bodyArea{

        .grayDiv{
          padding: 5px 10px;
          left: 39%;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .exploreCard {
    width: 100% !important;
    height: auto;
    .inner {
        width: 100% !important;
        max-width: 100% !important;
        height: auto;
        align-items: center;
        justify-content: center;
      .bodyArea {
        width: 100% !important;
        max-width: 100% !important;
        .grayDiv{
          display: none;
// left: 40%;
// padding:5px 30px;
        }
        img{
          width: 100% !important;
          max-width: 100% !important;
          border-radius: 20px;
        }
     
        .exploreBodyImg {
        width: 100% !important;
        }
      }
    }
  }
}
