.exploreCard {
  .inner {
    .bodyArea {
      .exploreBodyImg {
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .exploreCard {
    width: 100%;
    height: auto;
    .inner {
        width: 100%;
        height: auto;
      .bodyArea {
        width: 100%;
        .itemBox{
          display: none;
        }
        .exploreBodyImg {
        width: 100% !important;
        }
      }
    }
  }
}
