
body {
  background-color: #FFF9F9;
  h1 {
   
    font-size:96px;
  }
  h2 {

    font-size: 64px;
 
  }
  h3 {
    
    font-size: 20px;
  }
  h4 {
 
    font-size: 18px;
  }

 .large{
  font-size: 22px;
 }
 .medium,p{
  font-size: 18px;
 }
 .small{
  font-size: 14px;
 }
 .ex-small{
  font-size: 12px;
 }

}


.font-Roboto{
  font-family: "Roboto", sans-serif;
 }
 .font-Montserrat{
  font-family: 'Montserrat', sans-serif;
 }
 .font-Apex{
  font-family: 'ApexMK2', sans-serif;
 }

 .gradient{
background: linear-gradient(318deg, #FD0000 26.88%, #FF9292 105.85%);
 }
 