.nftBanner {
  .container {
    .inner {
      .leftArea {
      }

      .rightArea {
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .nftBanner {
    height: auto !important;
    overflow: hidden;
    margin-top: 50px;

    .rightGrid {
      width: 600px;
      top: 100px;
    }
    .leftGlow {
    }
    .container {
      .inner {
        .leftArea {
          width: 50%;
          justify-content: center;
          align-items: center;
          // h2{
          //     text-align: center;

          // }
        //   .nft {
        //     font-size: 150px;
        //     text-align: center;
        //     .collection {
        //       font-size: 50px;
        //     }
        //   }

        .nft{
            text-align: center;
            display: flex;
            font-size: 140px;
            justify-content: center;
            .collection{

            }
        }
        }

        .rightArea {
          width: 50%;
          height: auto;
          justify-content: flex-start;
          align-items: flex-start;
          img {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .nftBanner {
    height: auto;
    margin-top: 0px;
    height: auto;

    .container {
      .inner {
        flex-direction: column;
        gap: 30px;
        height: auto;
        .leftArea {
          width: 100%;
          justify-content:flex-start;
          align-items: center;
          height: auto;
          .nft {
            font-size: 70px;
          }
          .collection {
            font-size: 50px;
          }
          h2 {
            text-align: center;
          }
        }

        .rightArea {
          width: 100%;
          justify-content: flex-start;
          align-items: flex-start;
          padding-bottom: 30px;
          img {
            max-width: 300px;
            max-height: 330px;
            margin: 0 auto;
            object-fit: cover;
          }
        }
      }
    }
  }
}
