
    .ant-modal{
   
        .ant-modal-content{
            border-radius: 25px !important;
       
       .ant-modal-body{
        .connectModal{
.innerContent{
    .wltbtn{
        position: relative;
        background: white;
        background-color: rgb(190, 76, 76);

   
    
        // &::after{
        //     background-image: url("../../assets/modals/gradientBorder.png");
        //     bottom: -5px;
        //     content: "";
        //     left: -5px;
        //     position: absolute;
        //     right: -5px;
        //     top: -5px;
        //     z-index:-1;


        // }
    }
}
        }
       }
        }
    }

    
   
