.ant-modal {
  .ant-modal-content {
    border-radius: 25px !important;

    .ant-modal-body {
      .connectModal {
        .innerContent {
          .wltbtn {
            position: relative;
            background: white;
            background-color: rgb(190, 76, 76);
          }
          .enterAmount {
            .ant-select {
              .ant-select-selector {
                border: transparent;
              }
            }
          }
        }
      }
    }
  }
}
