.topSell{
    .container{
        .bannerWrapper {
            .headingDiv{
                h2{
                    span{

                    }
                }
            }
        }
        .sellerImages {
            img {
                border: 3.51px solid #FFF;
            }
        
        
        }
    }
}




.sellerTable {
    border-radius: 13px;
    border: 1px solid rgba(103, 103, 103, 0.30);
    background: #FFF;
    overflow: hidden;


    .ant-table-wrapper {
        overflow: hidden;
    }

    .ant-table-tbody .ant-table-row {
        border-collapse: separate;
        border-spacing: 100px;

    }

    .ant-table-thead {
        border-radius: 8px;
        border: 2.8px solid #E7E7E7;

        .ant-table-cell {
            color: var(--darkBlack);
            font-family: Roboto;
            font-size: 22px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.11px;
            background-color: #FFF9F9 !important;
            // border-bottom: none;
            height: 100px;

            &::before {
                display: none;
            }

        }
    }

    .ant-table-row {
        color: #000;
        font-family: Roboto;
        font-size: 16.236px;
        font-style: normal;
        font-weight: 500;
        line-height: 27.833px;
        background: #FFF9F9;
        text-align: left;
        // border-radius: 8px; 
        // border: 2.8px solid #E7E7E7; 
        // margin-bottom: 10px;
    }

    .ant-table-cell:nth-child(1) {
        color: var(--darkBlack);
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.11px;
    }

    .ant-table-cell:nth-child(4) {
        color: #4CCB9E;

    }
}

.catagorySelector {

    .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    
        font-weight: 600;
        color: #2B2B2B;
        font-family: Roboto;
        letter-spacing: 0.42px;
     
    }

    .ant-select-selector {
        border: none !important;
    }

    .anticon svg {
        color: var(--darkBlack);

        // width: 28px;
        // height: 28px;
    }
    
}

@media screen and (max-width:1440px) {

    .topSell{
        margin-top: 100px;
        .container{
            .bannerWrapper {
                .headingDiv{
                    width: 50%;
                    h2{
                        font-size: 60px;
                        span{
    font-size: 80px;
                        }
                    }
                }
            }
            .sellerImages {
                width: 50%;
                img {
                    border: 3.51px solid #FFF;
                }
            
            
            }
        }
    }
    
}
@media screen and (max-width:1100px) {

    .topSell{
        .bannerBack{
            display: none;
        }
        .container{
            .bannerWrapper{
           

            }

            .collectionTable{
                overflow-x: scroll;
                .ant-table-wrapper{
                overflow-x: auto;

                }
            }
        }
    }
}
@media screen and (max-width:1000px) {
    .topSell{
        .container{
            .bannerWrapper{
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: auto;
                margin-bottom: 50px;
                .headingDiv{

                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    h2{
                        font-size: 50px;
                        span{
    font-size: 70px;
                        }
                    }
                }
                .sellerImages{

                    width: 100%;
                
                    // height: 800px;
                    .tsImage{
                   width: 300px;
                   height: 300px;
                margin-bottom: 80px;
     
                  
                          }
                }
            }
        }
    }
    
}