.heroWrapper {
  min-height: 100vh;
  height: 100%;
  margin-bottom: 140px;

  .leftHand {
    animation: customAni 5s linear 1s normal forwards;
  }

  // @keyframes customAni {
  //     0% {

  //       left: -350px;
  //     }

  //     100% {

  //       left: -120px;
  //     }
  //   }

  .rightHand {
    animation: customAnim 5s linear 1s normal forwards;
  }

  // @keyframes customAnim {
  //     0% {

  //       right: -350px;
  //     }

  //     100% {

  //       right: -120px;
  //     }
  //   }
  // &::after {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   content: "";
  //   top: 0px;
  //   left: 0px;
  //   background-color: transparent;
  //   z-index: 1;
  // }


  h1 {
    line-height: 102px; /* 106.25% */
    letter-spacing: 3.84px;
    width: 1146px;
    margin: 0 auto;
    // border: 1px solid red;
  }
  p {
    width: 578px;
    margin: 0 auto;
    letter-spacing: 0.54px;
  }

  .ant-select-single.ant-select-open .ant-select-selection-item {
    font-size: 18px !important;
    color: var(--primary) !important;
    font-weight: 600;
    font-family: Roboto;
  }
}
@media screen and (max-width: 1440px) {
  .heroWrapper {
    height: auto;
    margin-bottom: 140px;
    &:after {
      display: none;
    }
    .leftHand {
      display: none;
    }
    .rightHand {
      display: none;
    }

    .container {
      .inner {
        h1 {
          line-height: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .heroWrapper {
    margin-bottom: 30px !important;
    .container {
      .inner {
        p {
          width: 100%;
        }
        .heroCards {
          .heroCardContainer {
            display: none;
          }
          .nft-singleItem {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            visibility: visible;
          }
        }
      }
    }
  }
}
