.trendingNftWrapper{
    .container {
        .inner {
          .ant-select {
            .ant-select-selector {
              .ant-select-selection-item {
                font-size: 18px !important;
                color: var(--primary) !important;
                font-weight: 400;
                font-family: Roboto;
                padding-left: 10px;
              }
            }
          }
        }
      }
}
@media screen and (max-width:1440px){
    .trendingNftWrapper{
        margin-top: 0px !important;
        margin-bottom: 140px !important;
    }
}
@media screen and (max-width:1320px){
    .trendingNftWrapper{
        margin-bottom: 80px;
        margin-top: 30px !important;
        .container{
            .inner{
                // display: flex;
                // flex-direction: column;
                // gap: 10px;
            }
            .nftWrapper{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                place-items: center;
            }
        }
    }
    
}

@media screen and (max-width:1100px) {
    .trendingNftWrapper{
        .container{
            .inner{
                
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .nftWrapper{
                    grid-template-columns: repeat(2, 1fr);

                }
            
        }
    }
    
}



@media screen and (max-width:750px) {
    .trendingNftWrapper{
        margin-bottom: 100px !important;
        .container{
            .inner{
                
               
                }
                .nftWrapper{
                    grid-template-columns: repeat(1, 1fr);

                }
            
        }
    }
    
}