.bannerWrapper {
  .container {
    .inner {
      .earnMoneyDiv {
        .part2{
.earnInput{
  .input-box{
    .input-wrapper{
      border: 3px solid #E7E7E7;
      box-shadow: none;
      input{
        &::placeholder{
          color: #808080;
        }
      }
    }
  }
}
        }
        .part3 {
            display: flex;
            align-items: center;
            justify-content: center;
            // border: 1px solid red;
          .slectDiv {
            .ant-select {
              .ant-select-selector {
                font-size: 18px;
                padding: 20px;
                display: flex;
                border: 3px solid #E7E7E7;
                border-radius: 15px;
                height: 58px;
                font-weight: 400;
                background: #FFF;
             
                input {
                  border-bottom: 0px !important;
                }
                .ant-select-selection-search {
                }
              }

              .ant-select-arrow {
                margin-top: -5px;
              }
            }
            .ant-select-single{
            height: 58px;
            }
          }

          .supplyDiv {
            .ant-input-number{
                border: 3px solid #E7E7E7;
                width: 109px;
                height: 58px;
                font-size: 18px;
                border-radius: 15px;
               display: flex;
               align-items: center;
               justify-content: center;
                background: #FFF;
            }

          }
          .addStyle{
            width: 198px;
height: 58px;
border-radius: 15px;
border: 3px solid #E7E7E7;
background: #FFF;
padding: 19px 30px;
          }
        }
      }
    }
  }
}
@media screen and (max-width:1200px) {
  .bannerWrapper{
    .container{
      .inner{
        .earnMoneyDiv{
          width: 100% !important;
          .part1{

          }
          .part2{
            width: 100%;
.earnInput{
  width: 100% !important;

  .input-box{
    width: 100% !important;
    .input-wrapper{
width: 100% !important;
input{
  //width: 100% !important;
}
    }
  }
}
          }
        }
      }
    }
  }
  
}



@media screen and (max-width:800px) {
  .bannerWrapper{
    .container{
      .inner{
        .earnMoneyDiv{
          width: 100% !important;
        
          .part3{
flex-wrap: wrap;
gap: 20px;
          }
        }
      }
    }
  }
  
}