.pixoNftContainer{
    .collapseDiv {
        .ant-collapse {
          width: 292px;
         // padding: 20px !important;
          border-radius: 30px;
          background: #fff;
          box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);

          #first-element {
            // background: red;
            padding: 0px !important;

            border: 2px solid transparent !important;
          }
          .ant-collapse-item {
            .ant-collapse-header {
              align-items: center;
              span {
                color: #2b2b2b;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
              }
              .ant-collapse-expand-icon {
                display: block !important;
                order: 1;
                .ant-collapse-arrow {
                  display: block !important;
                  svg {
                    display: block;
                    margin-top: 0px;
                  }
                }
              }
            }
    
            .ant-collapse-content {
              .ant-collapse-content-box {
                padding: 10px;
    
                .ant-collapse {
                  width: auto;
                  padding: 0px !important;
                  border-radius: 8px !important;
                  background-color: transparent !important;
                  box-shadow: none;
                  border: 2px solid white;
                  .ant-collapse-item {
                    margin-bottom: 20px;
                    border-radius: 8px !important;
                    border: 2.8px solid #e7e7e7;
                    .ant-collapse-header {
                      span {
                        color: #2b2b2b;
                        font-family: Roboto;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: capitalize;
                      }
                      .ant-collapse-expand-icon{
                        padding-inline-end: 0px;
                        padding-left: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .container{
        .inner{
            .searchDiv{
                .input-box{
                
                    .input-wrapper{
                        box-shadow: none;
                        border: 3px solid #E7E7E7;
                        background: #FFF9F9;
                        padding-left: 30px;
                    
                        input{

                        }
                        img{
                         left: 25px;

                        }
                    }
                }
            }
            .cardsWrap{

            }
        }
      }
}

@media screen and (max-width:1300px) {

    .pixoNftContainer{
        margin-top: 70px;
   
        .collapseDiv{
            top: -20px;
            z-index: 999;
        }
        .container{
            .inner{
                .searchDiv{

                }
                .cardsWrap{
                    grid-template-columns: repeat(3, 1fr);
                    place-items: center;
                }
            }
        }
    }
}

@media screen and (max-width:1100px) {

    .pixoNftContainer{
        margin-top: 170px;
        margin-bottom: 60px;
    
        .collapseDiv{
            top: -100px;
            z-index: 999;
        }
        .container{
            .inner{
                .searchDiv{
justify-content: start;
                }
                .cardsWrap{
                    grid-template-columns: repeat(2, 1fr);
                    place-items: center;
                }
            }
        }
    }
}



@media screen and (max-width:800px) {

    .pixoNftContainer{
        margin-top: 170px;
    
     
        .container{
            .inner{
              
                .cardsWrap{
                    grid-template-columns: repeat(1, 1fr);
                    place-items: center;
                }
            }
        }
    }
}